*.iml
.gradle
/local.properties
.idea/*
!.idea/copyright
.DS_Store
/build
/captures
.externalNativeBuild
ktlint
!./.idea/codeStyles/codeStyleConfig.xml
!./.idea/codeStyles/Project.xml
!./.idea/inspectionProfiles/profiles_settings.xml
!./.idea/inspectionProfiles/ktlint.xml !
./.idea/workspace.xml